<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Dev-Skills</title>
</head>
<body>
  <h1>Dev Skills</h1>
  <h3>Skills to learn as of <%= time %></h3>
  <ul>
   <!-- helped by Ali in this part -->
   <a href="/devSkills/new">Add a new skill</a>
  <% devSkills.forEach(devSkills => { %>
    <li>
  
      
    <a href="/devSkills/<%= devSkills.id %>"><%= devSkills.devSkills %></a>
     
  <% }); %>
  </ul>
</body>
</html>